.product-slider .swiper-pagination {
  display: flex;
  justify-content: start;
  padding-bottom: 32px;
}

.product-slider .swiper-horizontal > .swiper-pagination-bullets span:first-child {
  margin-left: 8px;
}

.product-slider .slide {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 48px;
  height: 100%;
}

.product-slider .slide p {
  max-width: 644px;
}

@media (min-width: 1000px) {
  .product-slider .slide-1 {
    background: url(/src/assets/images/slide-image1.png) right / contain no-repeat;
  }

  .product-slider .slide-2 {
    background: url(/src/assets/images/slide-image2.png) right / contain no-repeat;
  }

  .product-slider .slide-3 {
    background: url(/src/assets/images/slide-image3.png) right / contain no-repeat;
  }
}
