.featured-products-section {
  display: flex;
  flex-direction: column;
}

.featured-products-section > div:first-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}