:root {
  --color-cultured: #f6f5f2;
  --color-smoky-black: #0d0d0d;
  --color-camouflage-green: #787d62;
  --color-philippine-silver: #b1b1b1;
  --color-gainsboro: #dedede;
  --color-platinum: #e7e5e2;
}
